html {
    font-size: 14px;
}

navbar {
    z-index: 10;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

:root {
    --body: rgb(255, 255, 255);
    --primary: rgb(0, 0, 0);
    --primaryOn: rgb(255, 255, 255);
    --blue: rgb(0, 168, 218);
    --yellow: rgb(255, 243, 110);
    --orange: rgb(255, 171, 77);
    --green: rgb(135, 232, 115);
    --pink: rgb(255, 64, 180);
}

.dark {
    --body: rgb(25, 25, 25);
    --primary: rgb(255, 255, 255);
    --primaryOn: rgb(0, 0, 0);
    --blue: rgb(0, 168, 218);
    --yellow: rgb(0, 0, 0);
    --orange: rgb(255, 171, 77);
    --green: rgb(135, 232, 115);
    --pink: rgb(255, 64, 180);
}


body {
    background-color: var(--body);
    transition: all ease-in-out .3s;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 0.3px solid;
    border-color: var(--primary);
}

th, td {
    padding: 8px;
    text-align: left;
    color: var(--primary);
}

p {
    color: var(--primary);
}

h1, h3, h2 {
    color: var(--primary);
}

.p2 {
    font-size: 100%;
}

blue {
    color: rgb(0, 168, 218);
}

orange {
    color: rgb(255, 171, 77);
}

green {
    color: rgb(135, 232, 115);
}

pink {
    color: rgb(255, 64, 180);
}

yellow {
    color: rgb(255, 243, 110);
}

@keyframes colours {
    0% {
        background-color: var(--blue);
    }

    20% {
        background-color: var(--green);
    }

    40% {
        background-color: var(--orange);
    }

    60% {
        background-color: var(--pink);
    }

    80% {
        background-color: var(--yellow);
    }

    100% {
        background-color: var(--blue);
    }
}

.theme-checkbox {
    position: fixed;
    top: 0px;
    right: -550px;
    --toggle-size: 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

    .theme-checkbox::before {
        content: "";
        width: 2.25em;
        height: 2.25em;
        position: absolute;
        top: 0.438em;
        left: 0.438em;
        background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
        background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
        background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
        background-size: 205%;
        background-position: 100%;
        border-radius: 50%;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .theme-checkbox:checked::before {
        left: calc(100% - 2.25em - 0.438em);
        background-position: 0;
    }

    .theme-checkbox:checked {
        background-position: 100%;
    }



.container-about {
    display: flex;
    width: 90vw;
    padding: 0;
}

.column {
    width: 200vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, opacity 0.2s ease;
    margin-top: 10px;
    padding-bottom: 20px;
    opacity: 1;
    z-index: 1;
}
    .column .text {
        padding-top: 20px;
        text-align: center;
    }

        .column .text p.name {
            font-size: 24px; 
            font-weight: bold; 
        }

        .column .text p.role {
            font-size: 18px; 
        }

        .column .text p.description {
            font-size: 16px; 
        }
        .column .small-logo {
            width: 30px; /* Adjust the width to make it small */
            height: auto; /* Maintain aspect ratio */
            margin: 7px;
        }

    .column p.line1 {
        font-size: 24px; 
        font-weight: bold;
    }

    .column p.line2 {
        font-size: 18px; 
    }

    .column p.line3 {
        font-size: 16px; 
        text-align: center;
        justify-content: center;
    }

#column1 {
    z-index: 2;
}

#column2 {
    z-index: 1;
    opacity: 1;   
}

.column-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

.column img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    position: absolute;
    bottom: 100px; /* Adjust the button position from the bottom */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 3;
}

    button.learn-more {
        width: 12rem;
        height: auto;
    }

        button.learn-more .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #282936;
            border-radius: 1.625rem;
        }

            button.learn-more .circle .icon {
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                background: #fff;
            }

                button.learn-more .circle .icon.arrow {
                    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                    left: 0.625rem;
                    width: 1.125rem;
                    height: 0.125rem;
                    background: none;
                }

                    button.learn-more .circle .icon.arrow::before {
                        position: absolute;
                        content: "";
                        top: -0.29rem;
                        right: 0.0625rem;
                        width: 0.625rem;
                        height: 0.625rem;
                        border-top: 0.125rem solid #fff;
                        border-right: 0.125rem solid #fff;
                        transform: rotate(45deg);
                    }

        button.learn-more .button-text {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: #282936;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }

    button:hover .circle {
        width: 100%;
    }

        button:hover .circle .icon.arrow {
            background: #fff;
            transform: translate(1rem, 0);
        }

    button:hover .button-text {
        color: #fff;
    }
